# This is a basic workflow to help you get started with Actions

name: U-Pass Request

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 19 16 * *'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5

      # Setup Java JDK
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft' # See 'Supported distributions' for available options
          java-version: '17'
      
      # Set up Maven
      - name: Set up Apache Maven
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
          cache: maven

      # Run Maven clean and compile
      - name: Clean and Compile with Maven
        run: mvn clean compile --file pom.xml

      # Run the Java application
      - name: Run Java application
        env:
          UNI_USERNAME: ${{ secrets.SFU_USERID }}
          UNI_PASSWORD: ${{ secrets.SFU_PASSWORD }}
          UNI_MFA: ${{ secrets.SFU_MFA }}
          BOT_TOKEN: ${{ secrets.TELEGRAMBOT }}
          CHAT_ID: ${{ secrets.TELEGRAMID }}
        run: |
          mvn exec:java -D"exec.mainClass"="com.example.demo.Main" -e -X
