# This is a basic workflow to help you get started with Actions

name: U-Pass Request

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:

  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 19 16 * *'
  
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
      - name: Setup Java JDK
        uses: actions/setup-java@v3.8.0
        with:
          distribution: 'microsoft' # See 'Supported distributions' for available options
          java-version: '17'
      
      - name: Run Java script
        env:
          UNI_USERNAME: ${{ secrets.SFU_USERID }}
          UNI_PASSWORD: ${{ secrets.SFU_PASSWORD }}
          UNI_MFA: ${{ secrets.SFU_MFA }}
          BOT_TOKEN: ${{ secrets.TELEGRAMBOT }}
          CHAT_ID: ${{ secrets.TELEGRAMID }}
        run: |
          ls
          cd demo
          javac -cp "lib\*" src\test\java\com\example\demo\*.java
          java -cp "lib\*;src\test\java\" com.example.demo.Main